# Question No:6

Q6: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand 
2.Product Description
3.Price
4.Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1.Go to flipkart webpage by url https://www.flipkart.com/
2.Enter “sunglasses” in the search field where “search for products, brands and 
more” is written and click the search icon
3.after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4.after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5.Now scrape data from this page as usual
6.repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [36]:
#importing the necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [37]:
driver=webdriver.Chrome('chromedriver.exe')

In [38]:
#connecting url
url = 'https://www.flipkart.com/'
driver.get(url)

In [39]:
#Entering sunglasses in search field
search_bar= driver.find_element_by_name("q")
search_bar.send_keys("sunglasses")

In [40]:
# cicking search button
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [41]:
# Datalists
brand =[]
details =[]
price =[]
discount =[]

In [42]:
# Fetching urls to open each page.
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [43]:
# Extracting data from each url.
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        details.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(n.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [47]:
# Finally create a dataframe of the scraped data.sunglass_data = pd.DataFrame({})
sunglass_data = pd.DataFrame({})
sunglass_data['Brand']= brand[:100]
sunglass_data['Product Details'] = details[:100]
sunglass_data['Price']= price[:100]
sunglass_data['Discount %']= discount[:100]

In [48]:
#Final Data
sunglass_data[:100]

,Brand,Product Details,Price,Discount %
0,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
1,PIRASO,UV Protection Butterfly Sunglasses (65),₹449,82% off
2,PIRASO,UV Protection Aviator Sunglasses (58),₹399,84% off
3,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹349,76% off
4,OCCARIO,Others Round Sunglasses (52),₹179,69% off
...,...,...,...,...
95,Badfella,Mirrored Aviator Sunglasses (53),₹331,66% off
96,kingsunglasses,"UV Protection, Night Vision, Riding Glasses Av...",₹331,79% off
97,Fastrack,UV Protection Wayfarer Sunglasses (53),₹695,13% off
98,Fastrack,UV Protection Aviator Sunglasses (60),₹854,5% off
99,NuVew,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹375,77% off

# Question No: 7

Scrape 100 reviews data from flipkart.com for iphone11 phone.

You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage.

As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews.
WEB SCRAPING ASSIGNME

In [58]:
#importing the necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [59]:
#Connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [60]:
#connecting to the url
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace."
driver.get(url)

In [61]:
# Expand review button
expand_button= driver.find_element_by_xpath("//div[@class ='_3UAT2v _16PBlm']/span")
expand_button.click()

In [62]:
# Creating DataLists
name= []
rating= []
review= []

In [63]:
# Fetching urls to open each page.
urls =[]
for i in range(0,10):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [64]:
# Extracting data from each url.
for i in range(0,10):
    for j in driver.find_elements_by_xpath("//p[@class= '_2-N8zT']"):
        name.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        review.append(m.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [67]:
# Creating data frame
Review_data= pd.DataFrame({})
Review_data['Reviewed By']= name[:100]
Review_data['Product Rating']= rating[:100]
Review_data['Review Summary']= review[:100]
Review_data

,Reviewed By,Product Rating,Review Summary
0,Brilliant,5,The Best Phone for the Money\n\nThe iPhone 11 ...
1,Simply awesome,5,Really satisfied with the Product I received.....
2,Best in the market!,5,Great iPhone very snappy experience as apple k...
3,Perfect product!,5,Amazing phone with great cameras and better ba...
4,Fabulous!,5,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,Worth every penny,5,Best budget Iphone till date ❤️ go for it guys...
96,Perfect product!,5,Iphone is just awesome.. battery backup is ver...
97,Simply awesome,5,"Excellent camera, good performance, no lag. Th..."
98,Worth every penny,5,It’s been almost a month since I have been usi...
99,Terrific,5,Really worth of money. i just love it. It is t...

# Question No:8

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code only and not manually.

In [70]:
#importing the necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [71]:
#Connecting to the web driver
driver= webdriver.Chrome("chromedriver.exe")

In [72]:
#connecting url
url="https://www.flipkart.com/"
driver.get(url)

In [73]:
#2. Entering sneakers in search field
search_bar= driver.find_element_by_name("q")
search_bar.send_keys("sneakers")

In [74]:
# cicking on search button to get the required web element
search_but= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_but.click()

In [75]:
# Creating Datalists
brand1 =[]
details1 =[]
price1 =[]
discount1 =[]

In [76]:
# Fetching urls to open each page to get the required data.
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [82]:
# Extracting data from each url to ge the required elements data.
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand1.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        details1.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='_30jeq3']//div"):
        price1.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount1.append(n.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [83]:
# Finally creating a dataframe of the required scraped data.
sneakers_data = pd.DataFrame({})
sneakers_data['Brand']= brand1[:100]
sneakers_data['Product Details'] = details1[:100]
sneakers_data['Price']= price1[:100]
sneakers_data['Discount %']= discount1[:100]
sneakers_data

,Brand,Product Details,Price,Discount %
0,SPARX,SM-322 Sneakers For Men,₹769,23% off
1,Kraasa,Series 7 Sneakers For Men,₹444,55% off
2,Jack Diamond,Fashion Outdoor Canvas Casual Light Weight Lac...,₹627,37% off
3,SPARX,Synthetic Leather Casual Partywear Wedding Sne...,₹649,7% off
4,Zsyto,Unique & Perfect Collection Combo Pack of 02 S...,₹398,69% off
...,...,...,...,...
95,SPARX,Men 5014 Latest Collection Stylish Casual Spor...,₹730,23% off
96,Zorth,Men White Sneakers Sneakers For Men,₹435,56% off
97,SHOEFLY,Fashion Outdoor Canvas Casual Light Weight Lac...,₹362,63% off
98,BIRDE,Sneakers For Men,₹283,43% off
99,Rising Wolf,Luxury Fashionable casual sneaker shoes Sneake...,₹512,67% off

# Question No:9

Q9: Go to the link - https://www.myntra.com/shoes
        
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

Please note that applying the filter and scraping the data , everything should be 
done through code only and there should not be any manual step.

In [89]:
#importing the necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [90]:
#Connecting to the Webdriver
driver= webdriver.Chrome("chromedriver.exe")

In [91]:
#connecting to the url to get the url page to scrape the data
url="https://www.myntra.com/shoes"
driver.get(url)

In [92]:
# Finding elements for the price tag to setting Price filter to “Rs. 6649 to Rs. 13099” .
price_filter= driver.find_element_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
price_filter.click()

In [93]:
# Finding the elements for color and setting color filter to Black.
color_filter= driver.find_element_by_xpath("//label[@class='common-customCheckbox']")
color_filter.click()

In [94]:
#Creating the empty Datalists
brand2 =[]
description2 =[]
price2 =[]

In [95]:
# Fetching the urls to open each page to scrape the required data.
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//li[@class='pagination-active']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    time.sleep(4)

In [96]:
# Extracting ther data from each url to scrape the data.
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//h3[@class= 'product-brand']"):
        brand2.append(j.text)
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        description2.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price2.append(m.text)
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    time.sleep(4)

In [97]:
# Finally creating a dataframe of the scraped data.
shoe_data = pd.DataFrame({})
shoe_data['Brand']= brand2[:100]
shoe_data['Product Details'] = description2[:100]
shoe_data['Price']= price2[:100]
shoe_data

,Brand,Product Details,Price
0,Roadster,Men Solid Flat Boots,Rs. 1704Rs. 3099( 45 % OFF)
1,Calvin Klein,Men Printed Mono Sneakers,Rs. 5949Rs. 6999(15% OFF)
2,Mast & Harbour,Men Sneakers,Rs. 1449Rs. 2899(50% OFF)
3,Champs,Men Woven Design Sneakers,Rs. 749Rs. 999(25% OFF)
4,Arrow,Men Solid Leather Loafers,Rs. 2529Rs. 4599(45% OFF)
...,...,...,...
95,AfroJack,Men Latex Lined Loafers,Rs. 699Rs. 2663(Rs. 1964 OFF)
96,Sparx,Men Woven Design Slip-On Sneakers,Rs. 986Rs. 1049(6% OFF)
97,Puma,Men Pacer Sneakers,Rs. 1599Rs. 3999(60% OFF)
98,Fentacia,Men Loafers,Rs. 791Rs. 2399(67% OFF)
99,Duke,Men Synthetic Loafers,Rs. 1018Rs. 2995(66% OFF)

# Question No:10

Q10: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image:
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [1]:
#importing the necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Connecting to the webdriver
driver= webdriver.Chrome("chromedriver.exe")

In [3]:
#connecting to the url
url="https://www.amazon.in/"
driver.get(url)

In [4]:
# Entering the laptop in search field to get the laptop details to scrape
search_bar= driver.find_element_by_id("twotabsearchtextbox")
search_bar.send_keys("Laptop")

In [5]:
# Click the search button
search_but= driver.find_element_by_id("nav-search-submit-button")
search_but.click()

In [6]:
# Locating the corei7 details to filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [7]:
# Locating the corei9 details to filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [8]:
urls = []
for b in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(b.get_attribute("href"))

In [10]:
len(urls)

26

In [11]:
#Creating the empty Datalists
titlei7_i9 =[]
ratingi7_i9 =[]
pricei7_i9 =[]

In [12]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    '''
    try:
        title10 = driver.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']")
        titlei7_i9.append(title10.text)
    except:
        titlei7_i9.append("--")
    '''   
    try:
        rate10 = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        ratingi7_i9.append(rate10.text)
    except:
        ratingi7_i9.append("--")
    try:
        price10 = driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        pricei7_i9.append(price10.text)
    except:
        pricei7_i9.append("--")

In [13]:
for i in urls:
    driver.get(i)
    time.sleep(5)
    title10 = driver.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']")
    titlei7_i9.append(title10.text)

In [14]:
print(titlei7_i9)

['Dell XPS 9370 13.3-inch FHD Display Thin & Light Laptop (8th Gen i7-8550U/16GB/512GB SSD/Win 10 + MS Office/Integrated Graphics), Gold', 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF', 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN', 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum', 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS', 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T', 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)', 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993', 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596', 'HP Pavilion Gaming 11th Gen Intel Core i7 15.6-inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/GTX 1650 4GB Graphics/Win 10/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx', 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN', 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T', 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN', 'Acer Swift 5 14" (35.56cms) Full HD IPS Display with Touchscreen Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16GB RAM/1TB SSD/Win10/Intel Iris Xe Graphics/1.05 Kg/Mist Green), SF514-55TA', 'Lenovo Yoga 7 11th Gen Intel Core i7 14" Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg), 82BH00E0IN', 'Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7-11370H 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Windows 10/NVIDIA RTX 3050 4GB/120Hz Refresh Display/Shadow Black/2.25Kg), 82K1004EIN', 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN', 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN', 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T', 'Lenovo Legion Y540 9th Gen Intel Core i7-9750HF 15.6" (39.63cm) FHD IPS Gaming Laptop (8GB/1TB + 256GB SSD/Windows 10/NVIDIA GTX 1650 4GB/60Hz Refresh Display/Raven Black/2.3Kg), 81SY00U7IN', 'Acer Nitro 5 Intel Core i7-11th Gen 15.6-inch (39.62 cms) 144 Hz Refresh Rate Gaming Laptop (8GB RAM/RTX 3050 Graphics/1TB HDD + 256GB SSD/Windows 10 HS/Black/2.4 Kgs), AN515-57', '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (32GB RAM /1TB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation', 'Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN', '(Renewed) Hp Intel 4th Gen Core i7 15.6-inch (39.56 Cms) 1920 x 1080 Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/NVIDIA Graphics/ Gray/2.5kg) HP ZBook 15 Mobile Workstation', '(Renewed) ASUS ASUSPRO P5440FA-7812P Intel Core i7 8th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/1TB HDD + 256GB SSD/Windows 10 Professional/Integrated Graphics/1.26 kg), Grey', 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7']

In [15]:
print(ratingi7_i9)

['2.8 out of 5', '4.2 out of 5', '4.3 out of 5', '3.7 out of 5', '3.7 out of 5', '--', '5 out of 5', '4.1 out of 5', '4.2 out of 5', '3.7 out of 5', '4.1 out of 5', '--', '4 out of 5', '3.7 out of 5', '2.4 out of 5', '4.7 out of 5', '4.4 out of 5', '3.6 out of 5', '3.3 out of 5', '4.3 out of 5', '4.5 out of 5', '5 out of 5', '2 out of 5', '--', '--', '3.1 out of 5']

In [16]:
print(pricei7_i9)

['₹1,14,990.00', '₹57,990.00', '₹77,990.00', '₹5,56,524.00', '--', '--', '₹92,990.00', '₹1,07,990.00', '₹92,990.00', '--', '--', '₹1,13,990.00', '₹74,990.00', '₹94,999.00', '₹97,989.00', '₹84,990.00', '₹73,990.00', '₹1,99,990.00', '₹96,990.00', '₹72,990.00', '₹89,999.00', '₹53,999.00', '--', '₹41,999.00', '₹74,999.00', '₹39,990.00']

In [19]:
# Finally create a dataframe of the scraped data.
df_laptops = pd.DataFrame({})
df_laptops['title']= titlei7_i9
df_laptops['Ratings'] = ratingi7_i9
df_laptops['Price']= pricei7_i9
df_laptops[:10]

,title,Ratings,Price
0,Dell XPS 9370 13.3-inch FHD Display Thin & Lig...,2.8 out of 5,"₹1,14,990.00"
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5,"₹57,990.00"
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5,"₹77,990.00"
3,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",3.7 out of 5,"₹5,56,524.00"
4,"ASUS TUF Dash F15 (2021) 15.6"" (39.62 cm) FHD ...",3.7 out of 5,--
5,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...",--,--
6,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,5 out of 5,"₹92,990.00"
7,Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....,4.1 out of 5,"₹1,07,990.00"
8,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.2 out of 5,"₹92,990.00"
9,HP Pavilion Gaming 11th Gen Intel Core i7 15.6...,3.7 out of 5,--